/*********MENU*********/

.navlinks-container a:hover {
  transform: scale(1.05);
}
.navlinks-container a:hover::after {
  transform: scaleX(1);
  box-shadow: 0px 3px 15px 0px rgba(255,255,255,0.9);
}

/*********CONTACT***********/
.nav-form-icon:hover {
    transform: scale(1.09);
}
.contact:hover {
  transform: scale(1.09);
  transform-origin:right;
}

/********ANCRES**********/
a:hover {
  cursor: pointer;
}