* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
*::selection{
  background: rgb(187, 102, 102);
  color: #f1f1f1;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  display: inline-block;
}

body {
  min-height: 100vh;
}