@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
@import "reset";
@import "placeholders";
@import "fonts";
@import "variables";
@import "checkbox";
@import "fadeIn";
@import "hover";
@import "dropdown-menu";
@import "back";

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 89vh auto;
  background: rgb(47, 62, 70);
  background: linear-gradient(
    90deg,
    rgba(47, 62, 70, 1) 0%,
    rgba(82, 121, 111, 1) 47%,
    rgb(135, 165, 152) 100%
  );
  height: 100vh;
}
/****************NAVBAR****************/
nav {
  position: sticky;
  width: 100%;
  top: 0px;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 15px 25px;
  // background: rgb(47, 62, 70);
  background: linear-gradient(
    90deg,
    rgba(47, 62, 70, 0.80) 0%,
    rgba(82, 121, 111, 0.8) 47%,
    rgba(135, 165, 152, 0.8) 100%
  );
  box-shadow: inset 0px -1px 5px #c5c5c6;
  // backdrop-filter: blur(2px);
  /* border: 2px solid green; */
}
/****logos***/
.nav-icon{
  @extend %flex-start;
  gap: 10px;
  text-decoration: none;
}
.nav-icon img {
  width: 90px;
}
.hamburger, .nav-form-icon {
  display: none;
}
/***links**/
.main-nav-links{
  // border: 2px solid blue;
 @extend %flex-center;
}
.navlinks-container{
  // border: 2px solid green;
  @extend %flex-between;
  width: 100%;
}
.navlinks-container a{
  position: relative;
  transition: 0.4s ease-out;
}
/*********Trait horizontale******/
.navlinks-container a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #f1f1f1;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transition: 0.4s ease-out;
}

/******contact******/
.nav-icon-contact {
  // border: 2px solid purple;
  @extend %flex-center;
}
.contact {
  // border: 2px solid yellow;
  @extend %flex-end;
  width: 100%;
  transition: 0.3s ease-in-out;
}
/*********SECTION1**********/
.section1 {
 background: url(../img/foot.jpg) top/cover;
 background-repeat: no-repeat;
}



/************SECTION2**************/
.section2 {
  // margin-top: 180px;
  padding: 50px;
}
.section2 h2{
  margin-bottom: 40px;
}

/*************SECTION3*************/
.section3 {
  // border: 2px solid red;
  padding: 50px;
  z-index: -1;
  display: grid;
  grid-template-columns: 25% 65%;
  justify-content: space-between;
}
// .section3-left {
//   border: 2px solid white;
// }
.img-section {
  // border: 2px solid blue;
  width: 100%;
  background: url(../img/foot2.jpg) center/cover;
}
.img2 {
  width: 100%;
  background: url(../img/kidsfoot.jpg) center/cover;
}

/*****SECTION4***/
.section4 {
  // border: 2px solid red;
  padding: 50px;
  // z-index: -1;
  display: grid;
  grid-template-columns: 25% 65%;
  justify-content: space-between;
}

/**********FOOTER***********/
footer {
  background: #222;
  color: white;
  box-shadow: inset 0px 1px 5px #c5c5c6;

}

footer p {
  margin-bottom: 0px;
  padding: 30px 0px;
  text-align: center;
}

/************MEDIAS*******************/

@media screen and (min-width: 1450px) {
  .section2 h2 {
    font-size: 2rem;
  }
  .section2 p {
    font-size: 22px;
  }
  .section3, .section4 {
    grid-template-rows: 700px;
    justify-content: center;
    gap: 50px;
  }
  .section3-left {
    align-self: center;
    font-size: 22px;
    font-weight: 200;
  }
}
@media screen and (max-width:1160px){
  // body {
  //   grid-template-rows: 120px 86% auto;
  // }
  nav {
    grid-template-columns: 10% auto 10%;
  }
  .nav-icon{
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-icon span, .nav-icon p {
    display: none;
  }
  .main-nav-links {
    order: 1;
  }
  /********************HAMBURGER**********/
  .nav-burger {
    width: 30px;
    height: 2px;
    cursor: pointer;
    border: none;
    display: flex;
    background: #fafafa;
    align-items: center;
    position: relative;
  }
  .nav-burger::before,
  .nav-burger::after {
  content: "";
  background-color: #fafafa;
  position: absolute;
  height: 2px;
  width: 30px;
  border-radius: 2px;
  transition: all 0.2s;
}
.nav-burger::before {
  content: '';
  transform: translateY(-8px);
}
.nav-burger::after {
  content: '';
  transform: translateY(8px);
}

/***Animation burger*****/
.checkbox-toggler:checked + .nav-btn .nav-burger {
  background-color: transparent;
}
.checkbox-toggler:checked + .nav-btn .nav-burger::before {
  transform: translateY(0px) rotate(135deg); 
}
.checkbox-toggler:checked + .nav-btn .nav-burger::after {
  transform: translateY(0px) rotate(-135deg);
}


  /***Menu hamburger***/
  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
    height: 300px;
    padding: 15px 50px 15px 20px;
    background: #ffffff4d;
    border-right: 1px solid #c5c5c6 ;
    border-bottom: 1px solid #c5c5c6 ;
    box-shadow: 0px 1px 5px 0px rgba(255,255,255,0.6);
    border-radius: 0 0 13px 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    /*cache le menu*/
    transform: translate(-100%);
    transition: 0.5s;
  }
  /*animation au clic sur la checkbox*/

.checkbox-toggler:checked ~ .navlinks-container {
   transform: translate(0%);
   
}

  .navlinks-container a {
    font-size: 18px;
    color: #ffffff;
  }
  
  /**************CONTACT**********/
  .nav-icon-contact{
    order: 3;
  }
  .contact {
    display: none;
  }
  .nav-form-icon{
    display: block;
    transition: 0.3s ease-out;
  }
  .nav-form-icon img {
    width: 50px;
  }

  .dropdown-menu {
    background: linear-gradient(
    90deg,
    rgba(47, 62, 70, 0.95) 0%,
    rgba(82, 121, 111, 0.95) 47%,
    rgba(135, 165, 152, 0.95) 100%
  );
    border: 1px solid rgba(255, 255, 255, 0.144);
    box-shadow: inset 0px -1px 5px #c5c5c6;
    border-radius: 0px 20px 20px 0px;
  }
  .dropdown-menu a {
    color: #f1f1f1;
    font-size: 15px;
  }
  
}

@media (max-width: 760px){
  .section3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 400px;
  gap: 40px;
  // border: 2px solid blue;
}
.section4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 400px 1fr;
  gap: 40px;
  // border: 2px solid blue;
}
}


@media (max-width: 450px) {
  body {
    grid-template-rows: 120px 85.4vh;
  }
  
  .nav-icon img {
    width: 90px;
  }
  .nav-icon span {
    font-size: 15px;
  }
  .nav-icon p {
    font-size: 13px;
  }
  .nav-form-icon img {
    width: 30px;
  }
}



